<table class='table' [ngClass]="{'table-dark': !lightMode}" *ngIf='responses != undefined'>
    <thead>
        <th>Phrase</th>
        <th>Responses</th>
    </thead>
    <tbody>
        <app-phrase *ngFor='let phrase of responses | keyvalue' [phrase]='phrase' (deletePhrase)='removePhrase($event)' (deleteResponse)='removeResponse($event)' (addResponse)='addResponse($event)'></app-phrase>
    </tbody>
</table>
<div class='d-flex justify-content-center align-items-center' *ngIf='responses == undefined'>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
